<ion-header>
	<ion-toolbar>
    	<ion-buttons left>
      		<button ion-button icon-only [disabled]="true">
        		<ion-icon name="ios-game-controller-b"></ion-icon>
      		</button>
    	</ion-buttons>
    	<ion-title>{{ nickname }}</ion-title>
    	<ion-buttons right>
      		<button ion-button icon-only (click)="logout()">
        		<ion-icon name="md-power"></ion-icon>
      		</button>
    	</ion-buttons>
  	</ion-toolbar>
  	<div class="chatMessageInput">
		<ion-toolbar>
		    <ion-input [(ngModel)]='message' placeholder="Type a message..." (keyup.enter)="sendMessage()"></ion-input>
		    <ion-buttons right>
		      	<button ion-button icon-only (click)="sendMessage()">
		       	<ion-icon name="md-send"></ion-icon>
		     	</button>
		    </ion-buttons>
		</ion-toolbar>
	</div>

</ion-header>

<ion-content>
	<div id="messageSpace" *ngFor="let message of messages">
		<ion-card *ngIf="message.firebaseUID == firebaseUID" class="myMessage">
			<ion-card-content>
				<h2><b>{{ message.nickname }}</b></h2>
				<p>{{ message.message }}</p>
			</ion-card-content>
		</ion-card>
		<ion-card *ngIf="message.firebaseUID != firebaseUID" class="theirMessage">
			<ion-card-content>
				<h2><b>{{ message.nickname }}</b></h2>
				<p>{{ message.message }}</p>
			</ion-card-content>
		</ion-card>
	</div>
</ion-content>
