<ion-header>
	<ion-navbar>
		<ion-searchbar 
			(ionInput)="searchGames($event)"
			showCancelButton="true"
			debounce="500"
			placeholder="Browse RPGs">
		</ion-searchbar>
  	</ion-navbar>
</ion-header>

<ion-content>
	<ion-list>
	  	<ion-item *ngFor="let game of games" (click)="gameSelected(game)">
	    	<h2>{{ game.title }}</h2>
	    	<p>
	    		<b>{{ game.year }}</b>
	    		<span *ngIf="game.year && game.platforms[0]">|</span>
	    		<span *ngFor="let platform of game.platforms">
		    		{{ platform }}
	    		</span>
	    	</p>
	    	<ion-icon name="ios-more" item-end (click)="gameOptionsSelected($event, game)"></ion-icon>
	  </ion-item>
	</ion-list>
</ion-content>