<ion-header>
	<ion-toolbar>
    	<ion-buttons left>
      		<button ion-button icon-only [disabled]="true">
        		<ion-icon name="ios-game-controller-b"></ion-icon>
      		</button>
    	</ion-buttons>
    	<ion-title>{{ nickname }}</ion-title>
    	<ion-buttons right>
      		<button ion-button icon-only (click)="logout()">
        		<ion-icon name="md-power"></ion-icon>
      		</button>
    	</ion-buttons>
  	</ion-toolbar>
  	<ion-segment [(ngModel)]="selected" color="light" class="segment">
	    <ion-segment-button value="backlog">
	    	BACKLOG
	    </ion-segment-button>
	    <ion-segment-button value="recommendations">
	   		RECOMMENDATIONS
	   	</ion-segment-button>
	</ion-segment>
</ion-header>

<ion-content [ngSwitch]="selected">
	<ion-list *ngSwitchCase="'backlog'">
	  	<ion-item *ngFor="let game of backlog | async" (click)="gameSelected(game)">
	    	<h2>{{ game.title }}</h2>
	    	<p>
	    		<b>{{ game.year }}</b>
	    		<span *ngIf="game.year && game.platforms[0]">|</span>
	    		<span *ngFor="let platform of game.platforms">
		    		{{ platform }}
	    		</span>
	    	</p>
	    	<ion-icon name="ios-more" item-end (click)="gameOptionsSelected($event, game)"></ion-icon>
	  </ion-item>
	</ion-list>
	<ion-list *ngSwitchCase="'recommendations'">
	  	<ion-item *ngFor="let game of recommendations | async" (click)="gameSelected(game)">
	    	<h2>{{ game.title }}</h2>
	    	<p>
	    		<b>{{ game.year }}</b>
	    		<span *ngIf="game.year && game.platforms[0]">|</span>
	    		<span *ngFor="let platform of game.platforms">
		    		{{ platform }}
	    		</span>
	    	</p>
	    	<ion-icon name="ios-more" item-end (click)="gameOptionsSelected($event, game)"></ion-icon>
	  </ion-item>
	</ion-list>
</ion-content>
